.outer{
  width:98vw;
  box-sizing: border-box;
  padding:4vw;
  padding-top: 0;
  margin:0;
  margin-top:100px;
}
.box{
  display:block;
  float:left;
  box-sizing: border-box;
  width:20vw;
  height:20vw;
  padding:0;
  margin:1.25vw;
  background-color: black;
  border-radius: 1.5vw;
  }
  .b0{
    animation: an1 0.16666s infinite;
  }
  .b1{
    animation:an1 0.083333s infinite;
  }
  .b2{
    animation:an1 0.055555s infinite;
  }
  .b3{
    animation:an1 0.041666s infinite;
  }
  .fd{
    width:22.5vw;
    box-sizing: border-box;
    padding:20px;
    margin:0;
    height:100px;
    font-size:60px;
    display:block;
    float:left;
    text-align: center;
  }
  .fb{
    width:15vw;
    height:70px;
    box-sizing: border-box;
    margin:60px 36.5vw 100px 36.5vw;
    padding-bottom:0px;
    font-size: 50px;
  }
  @keyframes an1 {
    0%{
      background-color: black;
    }
    25%{
      background-color:black;
    }
    26%{
      background-color: white;
    }
    75%{
      background-color: white;
    }
    76%{
      background-color: black;
    }
    100%{
      background-color: black;
    }
  }
